/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  @media screen and (max-width:600px) and (min-width: 300px) {
    .cdk-overlay-container{
      .cdk-global-overlay-wrapper{
        display: block;
        top: 56px;
      }
    }
  }
}
